<mat-toolbar class="toolbar">
  <span class="main-title">Re-Identification Annotator</span>
  <div class="actionButtonContainer">
    <!--DESELECT ALL BUTTON-->
    <button mat-raised-button style="margin:10px;" class="actionMenuButton" (click)="deselectAll()"
            matTooltip="Deselect all [{{getShortcutString(shortcuts.DESELECT)}}]"
            [disabled]="selectionEmpty()">
      <mat-icon>close</mat-icon>
    </button>
    <!--EXTRACT BUTTON-->
    <button mat-raised-button style="margin:10px;" class="actionMenuButton" (click)="extractSelectedTracklets()"
            matTooltip="Extract [{{getShortcutString(shortcuts.EXTRACT)}}]"
            [disabled]="selectionEmpty()">
      <mat-icon>call_merge</mat-icon>
    </button>
    <!--DELETE BUTTON-->
    <button mat-raised-button style="margin:10px;" class="actionMenuButton" (click)="deleteSelected()"
            matTooltip="Delete [{{getShortcutString(shortcuts.DELETE)}}]"
            [disabled]="selectionEmpty()">
      <mat-icon>delete</mat-icon>
    </button>
    <!--TIME CONSTRAINT BUTTON-->
    <button mat-raised-button style="margin:10px;" [matMenuTriggerFor]="menu" (onMenuOpen)="filterMenuOpened()"
            matTooltip="Time filter"
            class="actionMenuButton">
      <mat-icon>tune</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
      <mat-form-field class="time-form" (click)="$event.stopPropagation()">
        <mat-label>From</mat-label>
        <input class="time-input" [formControl]="startTimeForm" placeholder="hh:mm" matInput>
      </mat-form-field>
      <mat-form-field class="time-form" (click)="$event.stopPropagation()">
        <mat-label>To</mat-label>
        <input class="time-input" [formControl]="endTimeForm" placeholder="hh:mm" matInput>
      </mat-form-field>
      <button mat-menu-item class="filter-menu-button" (click)="applyTimeFilter()" style="margin-top: 15px">Apply
      </button>
      <button mat-menu-item class="filter-menu-button" (click)="resetTimeFiler()">Reset</button>
    </mat-menu>
  </div>

  <div class="runs-container">
    <mat-form-field class="runFolderList">
      <mat-select [(value)]="run" (valueChange)="refreshContent()">
        <mat-option *ngFor="let run of runs" [value]="run">
          {{run}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>

<div id="main-container" class="main-container" (scroll)="onScroll($event)">
  <app-folder #folderComponent *ngFor="let folder of getFolders()" [folder]="folder" [run]="run"
              [tracklets]="getTrackletsByFolder(folder)"
              (isEmpty)="removeEmptyFolder(folder)"
              (onSelectionChange)="onSelectionChange($event, folder)"
              [start]="appliedStartTime" [end]="appliedEndTime"
              (folderCollapsed)="onFolderCollapse()"></app-folder>
  <div class="end-of-items">
    <span *ngIf="!hiddenFolders.size">END OF ITEMS</span>
  </div>
</div>


