.main-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-left: 24px;
  margin-bottom: 24px;
  animation: flexanimation 1s ease-out 1s infinite alternate backwards;
}

.example-spacer {
  flex: 1 1 auto;
}

.action_button {
  margin-left: 20px;
}

