.main-container {
  margin-left: 5px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.drawer-container {
  margin-bottom: 24px;
  height: 94%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.spacer {
  flex: 1 1 auto;
}

.action_button {
  margin-left: 20px;
}

.menu {
  padding: 10px 10px 0;
}

.filter-menu-button {
  margin-top: 5px;
  border-radius: 4px;
  text-align: center !important;
  background-color: #42424214;
}

.toolbar {
  height: 6%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(36, 43, 45);
}

.end-of-items {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.main-title {
  width: 15%;
  color: white;
  display: flex;
  justify-content: left;
}

.time-input {
  text-align: center !important;
}

.time-form {
  width: 100%;
}

.action-menu-button {
  width: 22%;
  margin: 10px;
  color: white;
  background-color: #387da7;
}

.action-menu-button:disabled {
  background-color: #5c5c5c !important;
  color: #00000085 !important;
}

.runs {
  width: 70%;
  color: white;
  float: right !important;
  text-align: center !important;
}

.runs-container {
  width: 15%;
}

.action-button-container {
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 1450px) {
  .main-title {
    display: none;
  }

  .action-menu-button {
    width: 20%;
    margin: 10px;
    color: white;
    background-color: #387da7;
  }
}

