<mat-toolbar class="toolbar">
  <mat-form-field style="position: absolute">
    <mat-select [(value)]="run" (valueChange)="refreshContent()">
      <mat-option *ngFor="let run of runs" [value]="run">
        {{run}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="title">Person Re-identification Annotator</span>
  <span class="spacer"></span>
  <button [matMenuTriggerFor]="menu" (onMenuOpen)="filterMenuOpened()" mat-icon-button class="action_button">
    <mat-icon>tune</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu">
    <mat-form-field style="width: 100px" (click)="$event.stopPropagation()">
      <mat-label>From</mat-label>
      <input [formControl]="startTimeForm" placeholder="hh:mm" style="text-align: center" matInput>
    </mat-form-field>
    <mat-form-field style="width: 100px" (click)="$event.stopPropagation()">
      <mat-label>To</mat-label>
      <input [formControl]="endTimeForm" placeholder="hh:mm" style="text-align: center" matInput>
    </mat-form-field>
    <button mat-menu-item class="filter-menu-button" (click)="applyTimeFilter()" style="margin-top: 15px">Apply</button>
    <button mat-menu-item class="filter-menu-button" (click)="resetTimeFiler()">Reset</button>
  </mat-menu>
</mat-toolbar>


<div class="main-container" (scroll)="onScroll($event)">
  <app-folder #folderComponent *ngFor="let folder of getFolders()" [folder]="folder" [run]="run"
              (isEmpty)="removeEmptyFolder(folder)"
              (onSelectedImagesChange)="onSelectionChange($event, folder)"
              [selectionMode]="this.folderToSelectedImagesMap.size > 0" [start]="appliedStartTime"
              [end]="appliedEndTime"></app-folder>
  <div class="end-of-items">
    <span>END OF ITEMS</span>
  </div>
</div>


