.main-container {
  margin-left: 15px;
  margin-bottom: 24px;
  height: 94%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.spacer {
  flex: 1 1 auto;
}

.action_button {
  margin-left: 20px;
}

.toolbar {
  height: 6%;
  background-color: #58a0ff70;
}

.loading-spinner {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

