<mat-toolbar class="toolbar">
  <button mat-icon-button aria-label="menu">
    <mat-icon style="color: white; margin-right: 10px" (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <span class="main-title">Re-Identification Annotator</span>
  <div class="action-button-container">
    <!--DESELECT ALL BUTTON-->
    <button mat-raised-button style="margin:10px;" class="action-menu-button" (click)="deselectAll()"
            matTooltip="Deselect all [{{getShortcutString(shortcuts.DESELECT)}}]"
            [disabled]="isActionButtonsDisabled()">
      <mat-icon>close</mat-icon>
    </button>
    <!--Merge BUTTON-->
    <button mat-raised-button style="margin:10px;" class="action-menu-button" (click)="mergeSelectedTracklets()"
            matTooltip="Merge [{{getShortcutString(shortcuts.MERGE)}}]"
            [disabled]="isActionButtonsDisabled()">
      <mat-icon>call_merge</mat-icon>
    </button>
    <!--DELETE BUTTON-->
    <button mat-raised-button style="margin:10px;" class="action-menu-button" (click)="deleteSelected()"
            matTooltip="Delete [{{getShortcutString(shortcuts.DELETE)}}]"
            [disabled]="isActionButtonsDisabled()">
      <mat-icon>delete</mat-icon>
    </button>
    <!--TIME CONSTRAINT BUTTON-->
    <button mat-raised-button style="margin:10px;" [matMenuTriggerFor]="menu" (onMenuOpen)="filterMenuOpened()"
            matTooltip="Time filter"
            class="action-menu-button">
      <mat-icon>tune</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
      <mat-form-field class="time-form" (click)="$event.stopPropagation()">
        <mat-label>From</mat-label>
        <input class="time-input" [formControl]="startTimeForm" placeholder="hh:mm" matInput>
      </mat-form-field>
      <mat-form-field class="time-form" (click)="$event.stopPropagation()">
        <mat-label>To</mat-label>
        <input class="time-input" [formControl]="endTimeForm" placeholder="hh:mm" matInput>
      </mat-form-field>
      <button mat-menu-item class="filter-menu-button" (click)="applyTimeFilter()" style="margin-top: 15px">Apply
      </button>
      <button mat-menu-item class="filter-menu-button" (click)="resetTimeFiler()">Reset</button>
    </mat-menu>
  </div>

  <div class="runs-container">
    <mat-form-field class="runs">
      <mat-select [(value)]="run" (valueChange)="refreshContent()">
        <mat-option *ngFor="let run of runs" [value]="run">
          {{run}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>


<mat-drawer-container class="drawer-container" style="background: #7c7c7c">
  <mat-drawer #drawer mode="side" style="min-width: 150px">
    <mat-button-toggle-group style="width: 100%" vertical [(ngModel)]="mode" (change)="drawer.close()">
      <mat-button-toggle value="annotate">Annotate</mat-button-toggle>
      <mat-button-toggle value="statistics">Statistics</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-drawer>

  <div *ngIf="isAnnotate()" id="main-container" class="main-container" (scroll)="onScroll($event)">
    <app-folder #folderComponent *ngFor="let folder of getFolders()" [folder]="folder" [run]="run"
                [tracklets]="getTrackletsByFolder(folder)"
                (isEmpty)="removeEmptyFolder(folder)"
                (onSelectionChange)="onSelectionChange($event, folder)"
                (folderCollapsed)="addFoldersUntilScreenFilled()"></app-folder>
    <div class="end-of-items">
      <mat-spinner diameter="40" *ngIf="!endOfItems"></mat-spinner>
      <span *ngIf="endOfItems">END OF ITEMS</span>
    </div>
  </div>

  <div *ngIf="isStatistics()" class="main-container">
    <app-stats-dashboard></app-stats-dashboard>
  </div>

</mat-drawer-container>



