<div class="button-container">
  <button disabled mat-icon-button class="action_button">
    <mat-icon style="color: white">content_cut</mat-icon>
  </button>
  <button mat-icon-button class="action_button" (click)="delete()">
    <mat-icon style="color: white">delete</mat-icon>
  </button>
<span style="background: rgba(255,255,255,0.66); display: inline-block">
  <div style="display: inline-block; width: 1px; height: 90%"></div>
</span>
  <button mat-icon-button class="action_button" (click)="deselectAll()">
    <mat-icon style="color: white">close</mat-icon>
  </button>
</div>
