<mat-toolbar style="height: 6%">
  <button mat-icon-button class="example-icon" aria-label="menu">
    <mat-icon (click)="onSideMenuClick.emit()">menu</mat-icon>
  </button>
  <span style="margin-left: 10px">Person Re-identification Annotator</span>
  <span class="example-spacer"></span>
  <button disabled mat-icon-button class="action_button"><mat-icon>content_cut</mat-icon></button>
  <button disabled mat-icon-button class="action_button"><mat-icon>delete</mat-icon></button>
  <button disabled mat-icon-button class="action_button"><mat-icon>more_vert</mat-icon></button>


</mat-toolbar>
