<mat-expansion-panel *ngIf="trackletsToImageNames.size" class="tracklets-container"
                     (mouseenter)="isHoveredFolder = true"
                     (mouseleave)="isHoveredFolder = false" (closed)="folderCollapsed.emit()" expanded>
  <mat-expansion-panel-header class="deselected-expansion-panel-header"
                              [ngClass]="{'selected-expansion-panel-header' : isAllTrackletsSelected()}">
    <mat-panel-title (click)="toggleFolderSelect(); $event.stopPropagation()">
      <div class="title">
        <button [ngClass]="{
              'select-folder-visible' : isAllTrackletsSelected() || isHoveredFolder,
              'selected-check-button' : isAllTrackletsSelected()}"
                class="select-folder-hidden" mat-icon-button>
          <mat-icon>check_circle</mat-icon>
        </button>
        <h2 [ngClass]="{'title-text-translateX' : isHoveredFolder || isAllTrackletsSelected()}"
            class="title-text">{{folder}}</h2>
      </div>
    </mat-panel-title>
    <mat-panel-description (click)="toggleFolderSelect(); $event.stopPropagation()">
      <span *ngIf="trackletsLoading != 0" class="spinner"><mat-spinner diameter="20"></mat-spinner></span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-tracklet #trackletComponent *ngFor="let tracklet of getTracklets()"
                (onSelectionChange)="onTrackletSelectToggle(tracklet, $event)"
                [tracklet]="tracklet" [imagesPerRow]="imagesPerRow"
                (isLoading)="trackletLoading($event)"
                [unloadedImages]="getImagesByTracklet(tracklet)"></app-tracklet>
</mat-expansion-panel>
