<mat-expansion-panel expanded *ngIf="trackletsToImageNames.size" class="tracklets-container"
                     (closed)="folderCollapsed.emit()">
  <mat-expansion-panel-header class="deselected-expansion-panel-header"
                              [ngClass]="{'selected-expansion-panel-header' : isAllTrackletsSelected()}">
    <mat-panel-title (click)="toggleFolderSelect(); $event.stopPropagation()">
      <div class="title">
        <h2 class="title-text">{{folder}}</h2>
      </div>
    </mat-panel-title>
    <mat-panel-description (click)="toggleFolderSelect(); $event.stopPropagation()"></mat-panel-description>
  </mat-expansion-panel-header>
  <app-tracklet #trackletComponent *ngFor="let tracklet of getTracklets()"
                (onSelectionChange)="onTrackletSelectToggle(tracklet, $event)"
                [tracklet]="tracklet" [imagesPerRow]="imagesPerRow"
                [unloadedImages]="getImagesByTracklet(tracklet)"></app-tracklet>
</mat-expansion-panel>
