.title {
  align-items: center;
  display: flex;
  height: 48px;
  left: 0;
  line-height: 48px;
  right: 0;
}

.title-text {
  padding-right: 24px;
  letter-spacing: .01785714em;
  font-size: .875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: #3c4043;
  display: inline;
  flex: 0 1 auto;
  left: 0;
  overflow: hidden;
  margin: 0 !important;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.folder-buttons {
  display: flex;
  color: #3c4043;
}

.title-text-translateX {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

.select-folder-hidden {
  color: #797979;
  display: none;
  opacity: 0;
}

.imageDivContainer {
  height: 100%;
  background-color: white;
  opacity: 1 !important;
  filter: none !important;
}

.image {
  height: 100%;
}

.resizedImage {
  width: 100%;
}

.image-container {
  width: 150px;
  position: relative;
  height: 150px;
  background-color: #e8f0fe;
  margin-right: 2px;
  text-align: center;
}

.check-button {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(121, 121, 121, 0.57);
  display: none;
}

.selected-check-button {
  display: block;
  color: #1a73e8;
}

.check-button-on-image-container-hover {
  display: block;
}

.check-button-hover {
  color: #797979;
  transition: color 0.5s ease;
}

button.check-button.mat-button-base.mat-focus-indicator.mat-icon-button .mat-button-focus-overlay {
  display: none;
}

button.select-folder-hidden.mat-button-base.mat-focus-indicator.mat-icon-button .mat-button-focus-overlay {
  display: none;
}

.image-row {
  margin-right: 15px;
}

.drag-scroll-content {
  overflow: hidden !important;
}

.folder-container {
}

.selected-image {
  transform: scale(0.8, 0.8);
  animation: scale-anim 0.3s ease-in-out;
}

.pointer {
  cursor: pointer;
}

.spinner {
  align-self: center;
  margin-right: 10px;
}

.select-folder-visible {
  width: auto;
  display: block;
  opacity: 1;
  animation: anim .3s ease-in-out;
}

.folder-container:hover .drag-scroll-content {
  /*noinspection CssInvalidPropertyValue*/
  overflow: overlay !important;
}


@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-anim {
  0% {
    transform: scale(1, 1);

  }
  1% {
    transform: scale(1, 1);

  }
  100% {
    transform: scale(0.8, 0.8);

  }
}




