<div class="folder-container"
     (mouseenter)="isHoveredFolder = true" (mouseleave)="isHoveredFolder = false">
  <div class="title">
    <button (click)="toggleFolderSelect()"
            [ngClass]="{
              'select-folder-visible' : isFolderSelected() || isHoveredFolder,
              'selected-check-button' : isFolderSelected()}"
            class="select-folder-hidden" mat-icon-button>
      <mat-icon>check_circle</mat-icon>
    </button>
    <h2 [ngClass]="{'title-text-translateX' : isHoveredFolder || isFolderSelected()}"
        class="title-text">{{folder}}</h2>
    <span class="folder-buttons">
        <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </span>
  </div>

  <drag-scroll [snap-disabled]="true" class="image-row">
    <div drag-scroll-item class="image-container" *ngFor="let image of images"
         (mouseenter)="hoveredImage = image" (mouseleave)="hoveredImage = ''">
      <img [ngClass]="{
        'selected-image' : isImageSelected(image)}"
           class="image" (click)="selectedImages.size ? toggleImageSelect(image) : ''"
           src="{{image}}"
           alt="idk">
      <button class="check-button"
              (mouseenter)="hoveredCheckButton = image" (mouseleave)="hoveredCheckButton = ''"
              [ngClass]="{
                'selected-check-button' : isImageSelected(image),
                'check-button-hover' : (isCheckButtonHovered(image) && !isImageSelected(image)),
                'check-button-on-image-container-hover' : isImageHovered(image)}"
              (click)="toggleImageSelect(image)" mat-icon-button>
        <mat-icon>check_circle</mat-icon>
      </button>
    </div>
  </drag-scroll>
</div>
