.title {
  align-items: center;
  display: flex;
  height: 48px;
  left: 0;
  line-height: 48px;
  right: 0;
}

.title-text {
  padding-right: 24px;
  letter-spacing: .01785714em;
  font-size: .875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: #3c4043;
  display: inline;
  flex: 0 1 auto;
  left: 0;
  overflow: hidden;
  margin: 0 !important;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.title-text-translateX {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

.select-folder-hidden {
  color: #b6b6b6;
  display: none;
  opacity: 0;
}

.selected-check-button {
  display: block;
  color: #1a73e8;
}

.deselected-expansion-panel-header {
  background: #cfcfcf !important;
}

.selected-expansion-panel-header {
  background: #bfdbff !important;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px !important;
}

button.select-folder-hidden.mat-button-base.mat-focus-indicator.mat-icon-button .mat-button-focus-overlay {
  display: none;
}

.tracklets-container {
  margin: 5px 5px 0 2px !important;
}

.select-folder-visible {
  width: auto;
  display: block;
  opacity: 1;
  animation: anim .3s ease-in-out;
}

.folder-container:hover .drag-scroll-content {
  /*noinspection CssInvalidPropertyValue*/
  overflow: overlay !important;
}

.mat-expansion-panel-body {
  padding: 0 0 5px 5px !important;
}


.mat-expansion-panel {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), -2px 0 2px 0px rgba(0, 0, 0, 0.14), 1px -1px 2px 0px rgba(0, 0, 0, 0.28) !important;
}


@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-anim {
  0% {
    transform: scale(1, 1);

  }
  1% {
    transform: scale(1, 1);

  }
  100% {
    transform: scale(0.8, 0.8);

  }
}




