<div class="tracklet-container">
  <span *ngIf="isSelected" class="selected-background"></span>
  <div class="title" (click)="toggleTrackletSelect()">
    <h2 class="title-text" style="padding-left:10px;">{{tracklet}}</h2>
  </div>

  <drag-scroll #images [snap-disabled]="true" class="image-row" (indexChanged)="onScroll()"
               (click)="toggleTrackletSelect()">
    <div drag-scroll-item class="image-container" *ngFor="let image of getImageNames()">
      <img class="image" [src]="getImageFile(image)" alt="detection">
      <div class="image-time">{{getDate(image)}}</div>
    </div>
  </drag-scroll>
</div>
