.title {
  position: relative;
  height: 150px;
  margin-left: 7px;
  align-self: center;
}

.tracklet-container {
  position: relative;
  display: flex;
}

.selected-background {
  background: #c5e5f9;
  position: absolute;
  height: 160px;
  width: 100%;
  top: -5px;
  animation: anim .3s ease-in-out
}

.image {
  height: 100%;
}

.image-container {
  width: 150px;
  position: relative;
  height: 150px;
  background-color: #fafafa;
  margin-right: 2px;
  text-align: center;
}

.image-time {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 90%;
  width: 130px;
  height: 20px;
  left: 50%;
  transform: translate(-50%, -60%);
  color: white;
}

.title-text {
  user-select: none;
  font-size: .875rem !important;
}

.image-row {
  margin-right: 15px;
}

.drag-scroll-content {
  overflow: hidden !important;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
