<div class="tracklet-container" (mouseenter)="isHoveredTracklet = true" (mouseleave)="isHoveredTracklet = false">
  <div class="title" (click)="toggleTrackletSelect()">
    <button style="padding-left:20px;" class="select-folder-hidden"
            [ngClass]="{'select-folder-visible' : isSelected || isHoveredTracklet,
              'selected-check-button' : isSelected}" mat-icon-button>
      <mat-icon>check_circle</mat-icon>
    </button>
    <h2 [ngClass]="{'title-text-translateX' : isHoveredTracklet || isSelected}"
        class="title-text" style="padding-left:10px;">{{tracklet}}</h2>
  </div>

  <drag-scroll style="padding-left: 50px;" #images [snap-disabled]="true" class="image-row" (indexChanged)="onScroll()"
               (click)="toggleTrackletSelect()">
    <div drag-scroll-item class="image-container" *ngFor="let image of getImageNames()">
      <div class="imageDivContainer" [ngClass]="{'selected-image' : isSelected}">
        <img class="image" [src]="getImageFile(image)" alt="detection">
      </div>
      <div class="image-time">{{getDate(image)}}</div>
    </div>
  </drag-scroll>
</div>
